<!-- about.html -->

{% extends 'base.html' %}
{% block title %}About Us - {{ site_name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>About {{ site_name }}</h1>
    <p>Welcome to {{ site_name }}, where [brief description of what your site offers or its purpose].</p>

    <h2>Our Purpose</h2>
    <p>At {{ site_name }}, our primary aim is to [describe the main goal or purpose of your site]. Whether you're [describe your target audience or user base], we strive to provide [describe the value or benefits users can expect].</p>

    <h2>Our History</h2>
    <p>{{ site_name }} was founded in 2024 by Nshimiyimana Justin  with the vision of [briefly describe the founding vision or inspiration behind the site]. Since then, we've grown into [mention any significant milestones, achievements, or growth your site has experienced].</p>

    <h2>Our Team</h2>
    <p>Behind {{ site_name }} is a dedicated team of professionals passionate about [describe what drives your team and their commitment to the site's mission]. From [mention key roles or departments] to [highlight any unique or diverse aspects of your team], we work together to ensure {{ site_name }} continues to [achieve its goals, provide value, etc.].</p>
    
    <p>Meet some of the faces behind {{ site_name }}:</p>
    <ul>
        <li><strong>Nshimiyimana Justin</strong> - backend developer</li>
        <li><strong>Bahire Esperanse</strong> - FrontEnd developer</li>
        <li><strong>Umwali Lydivine</strong> - Team leader</li>
    </ul>

    <h2>Our Mission Statement</h2>
    <p>At {{ site_name }}, our mission is clear: [state your site's mission in a concise and impactful manner]. Through [describe how you plan to achieve your mission], we aim to [mention the positive impact or change you hope to make in your users' lives or in the broader context].</p>

    <h2>Get in Touch</h2>
    <p>We're always eager to hear from our users and supporters. Whether you have questions, feedback, or just want to say hello, feel free to [mention how users can contact you, whether through a contact form, email address, social media links, etc.].</p>

    <p>Thank you for being part of the {{ site_name }} community!</p>

    <!-- Optional: Insert a relevant image or logo here -->
</div>
{% endblock %}
